body{
    background-color: aliceblue;
}
div.description {
    color:blue; 
    font-size: 20px; 
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
    border: 10px solid teal;
}


div.experiences{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    width: 300px;
    border: 10px solid tan;
}
h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
a:link{
    color: black;
}
a:visited{
    color: blue;
}

a:hover{
    color: red;
}
