body{
    background-color: aliceblue;
}
h1 {color:blue; 
    font-size: 12px; 
    font-family: 'Times New Roman', Times, serif;
}


p{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
